blockquote {
  //border-left: $theme-color-1 5px solid;
  font-size: 18px;
  font-style: italic;
  font-weight: 500px;

  p {
    padding: 0px;
    margin: 0px;
  }
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}