img {
  border-style: none; // Remove the border on images inside links in IE 10-.
  max-width: 100%; // allows embedded images to expand/contract with viewport
  height: auto;
  vertical-align: middle;
  border: none;
}

em {
  font-style: italic;
}

strong, b {
  font-weight: 700;
}