/* tables still need 'cellspacing="0"' in the markup */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}